<div class="d-flex flex-column justify-content-center">
  <h3>後台管理功能</h3>
  <div class="p-3" style="font-size: 20px;">
    <strong><a href="/admin/products">商品</a></strong>
  </div>
  <div class="p-3" style="font-size: 20px;">
    <strong><a href="/admin/orders">訂單</a></strong>
  </div>
  <div class="p-3" style="font-size: 20px;">
    <strong><a href="/admin/users">消費者</a></strong>
  </div>
  <div class="p-3" style="font-size: 20px;">
    <strong><a href="/admin/categories">分類</a></strong>
  </div>
  <div class="p-3" style="font-size: 20px;">
    <strong><a href="/admin/settings">設定</a></strong>
  </div>
  <div class="p-3" style="font-size: 20px;">
    <strong><a href="/admin/paymentMethods">付款方式</a></strong>
  </div>
  <div class="p-3" style="font-size: 20px;">
    <strong><a href="/admin/promotionCodes">折扣碼</a></strong>
  </div>
</div>