<div class="d-flex flex-column justify-content-center">
  <div class="p-3" style="font-size: 20px;"><strong><a
        href="/users/{{user.id}}/profile"
      >基本資料</a></strong></div>
  <div class="p-3" style="font-size: 20px;"><strong><a
        href="/users/{{user.id}}/orders"
      >我的訂單</a></strong></div>
  <div class="p-3" style="font-size: 20px;"><strong><a
        href="/users/{{user.id}}/favorited"
      >我的收藏</a></strong></div>
</div>