<div class="full-row">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="block-caption">服務條款</div>
        <div class="block-content">
          <p>&nbsp;</p>
          <p
          >閣下遞交及/或確認訂單即表示閣下明白並接受本公司的購物條款及細則，遞交及確認方式不限於網上購物平台，亦包括透過電話或電郵遞交及確認的訂單。</p>
          <p>&nbsp;</p>
          <p>貨品資料</p>
          <p>&nbsp;</p>
          <p
          >本店當盡力確保產品圖片的像真度、資料的準確性及盡力展示貨品的真確顏色，但不能為上述作出任何保証，並保留於未有另行通知下更改上述資訊的權利。所有貨品之售價或產品包裝，以送貨前的訂貨確認作準作實。由於本店所出售的產品均為原裝包裝及/或進口，所有進口產品包裝均保留當地的原有包裝，包括標籤及產品說明。
          </p>
          <p>&nbsp;</p>
          <p>訂購</p>
          <p>
            閣下願意遵守本站相關購物規則、運費收取機制。顧客下訂單的時間與系統接受訂單的時間是存在差距的，所以顧客下訂單的時候，系統顯示依然是有貨，但系統接受訂單的時候可能已沒有存貨。如果系統在接受你訂單前，你買的貨品已沒有存貨，我們會盡快通知你。如有任何貨品售罄，本店將不會作出事前通知。如有上述情況，本店將以透過電話或電郵通知閣下。
          </p>
          <p>&nbsp;</p>
          <p>取消訂單</p>
          <p>&nbsp;</p>
          <p
          >下訂單後，顧客不可以更改訂單內容，所以顧客必須確定所有資料均為正確才下訂單。一旦下了訂單，我們不能更改和取消。</p>
          <p>&nbsp;</p>
          <p>付款方法</p>
          <p>&nbsp;</p>
          <p
          >於網上直接付款，客戶可以信用卡、第三方支付。如客戶所購產品需要預訂或線下下單，本公司會另外與客戶聯絡，提供於門市付款服務。顧客有責任保存任何形式的收據及/或記錄以作為付款證明。</p>
          <p>&nbsp;</p>
          <p>送貨</p>
          <p>&nbsp;</p>
          <p
          >本店保留在發生下述情況下向客戶收取額外費用的權利：單一訂單的送貨目的地多於一個；因提供不完整、錯誤送貨地址、或無人在指定地址或時間收貨或取貨而引致額外費。</p>
          <p>&nbsp;</p>
          <p>免責條款</p>
          <p>&nbsp;</p>
          <p
          >本店不會就錯誤或不當使用產品而引至任何問題承擔任何責任；本店保留不時修改和修訂售價、送貨收費及網上購物條款及細則的權利，並毋須作出事前通知；如有任何爭議，<span
            >本店將</span>保留最終決定權。</p>
          <p>&nbsp;</p>
          <p>最近更新日期：2023年08月</p>
        </div>
      </div>
    </div>
  </div>
</div>